########################
#  ENVIRONMENT SETUP
########################
APPLICATION=/home/zeroc0d3/LAB/myrails
APPLICATION_PORT=2222
WORKSPACE_PORT=8500

########################
#  VERSION
########################
CONSUL_VERSION=0.8.3
CONSULUI_VERSION=0.8.3
CONSULTEMPLATE_VERSION=0.18.3
RUBY_VERSION=2.4.1

########################
#  OPTIONAL ARGUMENTS
########################
CONSUL_OPTIONS=-server -bootstrap-expect 1 -client 0.0.0.0 -ui    # minimal server options